@model IEnumerable<WebMVC.BLL.IntentionIndexTable>

@{
    ViewBag.Title = "购买意愿指数";
}

<h4> 购买意愿指数</h4>

<p>
     
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Stage)
        </th>
        @for (int i = 0; i < Model.Last().AL.Count; i++)
    {
        for (int j = 0; j < Model.Last().AL[i].Agent.Count; j++)
        {
            <th>
                AL@(i + "" + j)
            </th>
    }
}

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Stage)
        </td>
        @for (int i = 0; i < item.AL.Count; i++)
    {
        for (int j = 0; j < item.AL[i].Agent.Count; j++)
        {
            <td>
                @Math.Round(item.AL[i].Agent[j], 3)
            </td>
    }

}
    </tr>
}

</table>
