@model IEnumerable<WebMVC.BLL.SummaryTable>

@{
    ViewBag.Title = "资产汇总表";
}

<h4>资产汇总表</h4>

<p>
    
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.A)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.B)
        </th>
        
      
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.A)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.B)
        </td>
        
         
    </tr>
}

</table>
