@helper PrimaryButton(string Url,string caption) {
     <a  class="btn btn-success" href="@Url">@caption</a>
    }
@helper PrimaryButtonBlock(string Url, string caption)
{
    <a class="btn btn-success btn-block" href="@Url">@caption</a>
}