@helper PrimaryButton(string Url,string caption) {
     <a  class="btn btn-warning" href="@Url">@caption</a>
    }
@helper PrimaryButtonBlock(string Url, string caption)
{
    <a class="btn btn-warning btn-block" href="@Url">@caption</a>
}